@model IEnumerable<ProyectoDTO>

@if (Model != null && Model.Any())
{
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var proyecto in Model)
            {
                <div class="col">
                    <div class="card h-100">
                        <img src="@proyecto.Imagen" class="card-img-top" alt="Imagen proyecto" />
                        <div class="card-body">
                            <h5 class="card-title">@proyecto.Titulo</h5>
                            <p class="card-text">@proyecto.Descripcion</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" href="@proyecto.Link" target="_blank" rel="noopener noreferrer">Visitar</a>
                            <a class="btn btn-secondary" href="@proyecto.LinkGit" target="_blank" rel="noopener noreferrer">Github</a>
                            <a class="btn btn-info" asp-action="Blog" asp-route-id="@proyecto.id" asp-controller="Home">Blog</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="bg bg-primary text-center"><h4>Actualmente no hay proyectos que mostrar.</h4></div>    
}
